@font-face {
    font-family: 'IBMPlexMono';
    src: url('/static/fonts/IBMPlexMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('/static/fonts/IBMPlexSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSerif';
    src: url('/static/fonts/IBMPlexSerif-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IBMPlexSans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #556c96;
    background-color: #0b141c;
    margin: 0;
    padding: 0;
}

.section {
    height: 100vh;
}

.has-background-custom {
    background-color: #0b141c;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);

    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBMPlexSerif', serif;
    font-weight: normal;
    color: #222;
    margin: 0;
    padding: 0;
}

.logarea {
    font-family: 'IBMPlexMono', monospace;
    font-size: 14px;
    line-height: 1.5;
    color: #222;
    position: relative;
    width: 800px;
    height: 800px;
    overflow-y: scroll;
    margin: 0 auto;
    box-shadow: -10px 10px 20px #3232a8;
}

.scrollbar {
    position: absolute;
    width: 10px;
    /* Add a width to the scrollbar */
    right: 0;
    top: 0;
    background-color: #222;
    /* Add background color for visibility */
}

.thumb {
    width: 100%;
    min-height: 20px;
    /* Ensure minimum height */
    background: #444;
    cursor: pointer;
}

.service-card {
    height: 200px; /* Or your desired fixed height */
}